# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# Data
_targets/

# Ignore data file types
**.feather
**.rds

# Other
**.DS_Store
scratch.R
